@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #081351;
    --secondary-color: #a00a55;
    --tertiary-color: #7855c3;
    --accent-color: #ff6400;
    --background-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 25px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: var(--secondary-color);
}

header {
    text-align: center;
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--background-color);
}

header > img {
    width: 150px;
    border-radius: 100%;
}

header > h1, h2 {
    color: var(--background-color);
}

section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--background-color);
}

dt {
    font-weight: bold;
    color: var(--accent-color);
}

dd {
    margin-left: 20px;
    color: var(--primary-color);
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin-left: 0;
}

button {
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 6px;
    color: #ffffff;
    padding: 10px;
}